/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
.debug{
    border: 1px solid white;
    color: white;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

                  /* barra fissa sotto  */
.play-bar{
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 500;
}
.flex-nav{
    display: flex;
    justify-content: space-between;
}
/* barre generale */

.nav-left, .nav-right{
    flex:0 1 25%;
    display:flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.nav-right{
    justify-content: flex-end;
    padding:0 10px ;
}

/* nav sinistra */

.nav-left .song-img{
    width:50px;
    margin-left: 10px;
}
.song-img img{
    width: 100%;
    min-width: 50px
}
.song-name{
    padding: 5px;
}
.song-name h3{
    font-size: 0.8em;
    color: white;
    font-weight: bolder;
}
.song-name p{
    font-size: 0.6em;
    font-weight: bolder;
    color:#808080;
}
.nav-left article .fa-regular{
    margin:0 5px;
    color:#808080;
}
.nav-left article .fa-regular:hover{
    color: white;
}

/* nav destra */

.nav-right article .fa-solid{
    color: white;
    margin: 0 5px;
}
.sound{
    display: flex;
    flex-wrap: nowrap;
}
.active-sound{
    width:20px;
    height: 3px;
    background-color: #b6b6b6;
    border-radius: 1px 0 0 1px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.active-sound:hover{
    background-color: #ACFF2E;
}
.active-sound .dot{
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
}
.active-sound:hover .dot{
    opacity: 1;
}
.sound-bar{
    width: 40px;
    height: 3px;
    background-color: #707276;
    border-radius: 0 1px 1px 0;
}

/* nav centrale */

.nav-player{
    flex:0 1 50%;
    color: white;
}
.elementi{
    display: flex;
    justify-content: center;
    gap: 5%;
    align-items: center;
    padding: 5px;
}
.elementi .fa-solid{
    font-size: 1.3em;
}
.elementi .fa-regular{
    font-size: 2em;
    margin: 0 10px;
}
.elementi .fa-regular:hover{
    font-size: 2.3em;
}
.player{
    display: flex;
    width: 60%;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
}
.player span{
    font-size: 0.6em;
    margin: 1%;
}
.active-time{
    width: 25%;
    height: 4px;
    background-color: #b6b6b6;
    border-radius: 2px 0 0 2px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.active-time:hover{
    background-color: #ACFF2E;
}
.active-time .dot{
    background-color: white;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    opacity: 0;
}
.active-time:hover .dot{
    opacity: 1;
}
.time-bar{
    width: 75%;
    height: 4px;
    background-color: #707276;
    border-radius: 0 2px 2px 0;
}


                 /* involucro principale */
.wrapper{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    overflow-y: auto;
}

                  /* lista sinistra */
aside{
    width: 200px;
    background-color: #000000;
}


                  /* corpo principale */
main{
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: auto;
}

                 /* barra fissa sopra */
.up-fixed{
    width: calc(100% - 200px);
    height: 80px;
    background-color:rgba(19,19,25, 0.6);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.up-fixed .upgrade-button{
    margin-right: 30px;
}
.up-fixed .upgrade-button a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    border: 2px solid white;
    padding: 10px;
    border-radius: 25px;
    display: block;
    font-size: 1em;
}
.up-fixed .upgrade-button a:hover{
    font-size: 1.2em;
}

                 /* contenuto principale */
.main-content{
width: 100%;
margin-top: 80px;
}

/* lista main  */
.lista-main{
    margin-top: 90px;
}
.lista-main ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   text-align: center;
   align-content: center;
   gap: 20px;
}
.lista-main ul li{
    font-size: 0.7em;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}
.lista-main ul li a{
    text-decoration: none;
    color: #7C7E82;
}
.lista-main ul li a:hover{
    color: white;
}

.greenbar{
    display: inherit;
    margin: 3px auto;
    width: 40%;
    height: 2px;
    background-color: #ACFF2E;
    visibility: hidden;
 }

 .lista-main ul li:hover .greenbar{
     visibility: visible;
 }
                     /* album box container */
 /* titolo categoria */
 .article-title{
     width:100%;
     padding:15px;
 }
 .article-title h1{
     font-size: 1.5em;
     font-weight: 600;
     color: white;
     padding: 5px 0;
 }

/* box album */
.album-box-container{
    margin: 30px 0;
    margin-bottom:
}
.album-box{
    display: flex;
    gap: 20px;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 10px;
    text-align: center;
}
.album-box .box{
    flex: 0 1 calc(100% / 6 - 20px);
    min-width: 120px;
    object-fit: cover;
}
.box img{
    margin-bottom: 5px;
    width:100%;
}
.album-box .box-player{
    position: relative;
}
.album-box .box-player .background{
    width: 100%;
    height: calc(100% - 5px);
    background-color: rgba(0, 0, 0, 0.4);
    position: absolute;
    left: 0;
    bottom: 0;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 4em;
    visibility: hidden;
}
.box-player:hover .background{
   visibility: visible;
   cursor: pointer;
}

.album-box .box h2{
    font-size: 1em;
    font-weight: bolder;
    padding: 10px 0;
    color:white;
}
.album-box .box p, .article-title p{
    font-size: 0.7em;
    font-weight: 500;
    color: #707276;
}
.last .box img{
    border-radius: 50%;
}
.last .box-player .background{
    border-radius: 50%;
}

