/* reset  */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Signika', sans-serif;
}
.debug{
    border: 1px solid white;
    color: white;
}
.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

                  /* barra fissa sotto  */
.play-bar{
    width: 100%;
    height: 80px;
    background-color: #282828;
    position: fixed;
    left: 0;
    bottom: 0;
    z-index: 500;
}

                 /* involucro principale */
.wrapper{
    height: calc(100vh - 80px);
    width: 100%;
    display: flex;
    overflow-y: auto;
}

                  /* lista sinistra */
aside{
    width: 200px;
    background-color: #000000;
}


                  /* corpo principale */
main{
    width: calc(100% - 200px);
    background-color: #141922;
    overflow-y: auto;
}

                 /* barra fissa sopra */
.up-fixed{
    width: calc(100% - 200px);
    height: 80px;
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    right: 0;
    z-index: 1000;
}
                 /* contenuto principale */
.main-content{
width: 100%;
margin-top: 80px;
}

/* lista main  */
.lista-main{
    margin-top: 90px;
}
.lista-main ul{
   display: flex;
   justify-content: center;
   flex-wrap: wrap;
   text-align: center;
   align-content: center;
   gap: 20px;
}
.lista-main ul li{
    font-size: 0.7em;
    list-style-type: none;
    text-transform: uppercase;
    font-weight: bold;
}
.lista-main ul li a{
    text-decoration: none;
    color: #7C7E82;
}
.lista-main ul li a:hover{
    color: white;
}

.greenbar{
    display: inherit;
    margin: 3px auto;
    width: 40%;
    height: 2px;
    background-color: #ACFF2E;
    visibility: hidden;
 }

 .lista-main ul li:hover .greenbar{
     visibility: visible;
 }
                     /* album box container */
 /* titolo categoria */
 .article-title{
     width:100%;
     padding:15px;
 }
 .article-title h1{
     font-size: 1.5em;
     font-weight: 600;
     color: white;
     padding: 5px 0;
 }

/* box album */
.album-box-container{
    margin: 30px 0;
    margin-bottom:
}
.album-box{
    display: flex;
    gap: 20px;
    justify-content:flex-start;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-left: 10px;
    text-align: center;
}
.album-box .box{
    flex: 0 1 calc(100% / 6 - 20px);
    min-width: 120px;
}
.box img{
    margin-bottom: 5px;
    width:100%;
}

.album-box .box h2{
    font-size: 1em;
    font-weight: bolder;
    padding: 10px 0;
    color:white;
}
.album-box .box p, .article-title p{
    font-size: 0.7em;
    font-weight: 500;
    color: #707276;
}

