                     /* jumbo */
.main-content-bonus .jumbo{
    background: rgb(253,29,29);
    background: linear-gradient(180deg, rgba(253,29,29,1) 0%, rgba(255,163,34,1) 64%);
    height: 350px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    gap: 5%;
    padding: 4%;
}
.jumbo .album-img{
    flex: 0 1 250px;
    min-width: 100px;
}
.album-img img{
    width: 100%;
    border-radius: 5px;
}
.jumbo .album-info{
    flex: 0 1 70%;
    display: flex;
    flex-flow: column nowrap;
    gap: 5px;   
}
.album-info .artist{
    flex: 0 1 15%;
    color: #842165;
    font-size: 2vw;
    font-weight: bold;

}
.album-info .title{
    flex: 0 1 55%;
    color: #842165;
    font-size: 6vw;
    font-weight: bolder;
}
.album-info .description{
    flex: 0 1 15%; 
    color: #842165;
    font-size: 1.2vw;
}
.album-info .spotify-views{
    flex: 0 1 15%;
    color: #842165;
    font-size:1vw;
}

               /* contenitore canzoni + elementi */
.songs-container{
    padding: 5%;
    background: rgb(18,18,18);
    background: linear-gradient(0deg, rgba(18,18,18,1) 87%, rgba(126,84,25,1) 93%, rgba(152,100,27,1) 95%, rgba(152,100,27,1) 96%, rgba(255,163,33,1) 98%);
}
.album-elements{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 15px;
    margin-bottom: 15px;
}
.album-elements .fa-circle-play{
    font-size: 3em;
    color:#1DB955;
    background-color: white;
    border-radius: 50%;
    transition: all 0.1s linear;
}
.album-elements .fa-circle-play:hover{
    transform: scale(1.2);
}
.album-elements .fa-heart, .album-elements .fa-ellipsis{
font-size: 1.5em;
color: #76787C;
}
.album-elements .fa-heart:hover{
    color: rgb(147, 45, 45);
    cursor: pointer;
}
.album-elements .fa-ellipsis:hover{
    color: white;
    cursor: pointer;
}
.more{
    position: relative;
}
.more .more-choice{
    width: 130px;
    position: absolute;
    top: 20px;
    left: 0;
    background-color: #121212;
    display: flex;
    flex-flow: column;
    padding: 30%;
    border-radius: 3px;
    border: 1px solid #76787C;
    display: none;
}
.more:hover .more-choice{
    display: block;
}
.more .more-choice span{
    display: block;
    color: #76787C;
    border-bottom:1px solid #76787C;
    font-size: 0.7em;
}
.more .more-choice span:hover{
    color: white;
    cursor: pointer;
}
.songs-container div.table:first-of-type{
    color: white;
}


                  /* tabella canzoni */

.table{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    margin: 10px 0;
}
.table:hover{
    background-color: rgba(221, 221, 221, 0.3);
    border-radius: 5px;
}
hr{
    width: 92%;
}
.first-last-col{
    flex: 0 1 2%;
    text-align: center;
}
.col{
    flex: 0 1 calc(100% / 3 - 4%);
    display: flex;
    align-items: center;
}
#first:hover{
    background-color:#121212 ;
}
.songs-image  img{
   width: 100%;
   min-width:50px
}
.songs-image{
    flex: 0 0 15%;
}
.songs-name{
    flex: 0 1 80%;
    margin-left: 15px;
    font-size: 0.8em;
}
.first-last-col span{
    color: #9F9F9F;
    font-size: 0.8em;
}
.col h1{
    color: white;
    font-size: 1em;
    font-weight: 400;
}
.col span{
    color: #9F9F9F;
    font-size: 0.8em;
    font-weight: 300;
}

audio{
    border-radius: 20px;
    overflow: hidden;
}
audio:hover{
    background-color: #832264;
}
